* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    padding: 10px;
    background-color: aqua;
}

nav {
    background-color: cadetblue;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    padding: 20px;
    text-decoration: none;
}

section {
    padding: 10px 0;
    background-color: coral;
}

div {
    display: flex;
    height: 200px;
}

div p {
    flex: 1;
    height: 200px;
    /* background-color: khaki; */
}

.side {
    background-color: lightblue;
}

.center {
    background-color: lightcyan;
}

footer {
    padding: 10px;
    background-color: darkgoldenrod;
}